<% extend("_base/layout") %>

<form method="POST" action="/polls/create">
	<h1>Nieuwe poll</h1>
	<label>Vraag
		<textarea name="question"></textarea>
	</label>
	<div id="inputs">
		<label>Antwoord 1
			<input type="text" class="answer-input" name="answer1"/>
		</label>
		<label>Antwoord 2
			<input type="text" class="answer-input" name="answer2"/>
		</label>
		<label>Antwoord 3
			<input type="text" class="answer-input" name="answer3"/>
		</label>
		<label>Antwoord 4
			<input type="text" class="answer-input" name="answer4"/>
		</label>
		<label>Antwoord 5
			<input type="text" class="answer-input" name="answer5"/>
		</label>
	</div>
	<button id="newInput" class="hidden">Nieuw antwoord</button>
	<input type="submit" value="Ok">
</form>

<section>
	<h2>Actieve polls</h2>
	<ol>
		<% polls.map(poll => { %>
			<li>
				<h3><%= poll.question %></h3>
				<a href="/polls/get/<%= poll.id %>">Stemmen</a>
				<a href="/polls/results/<%= poll.id %>">Resultaten</a>
			</li>
		<% }) %>
	</ol>
	<% if (polls.length === 0) { %>
		<p>Er zijn geen polls actief</p>
	<% } %>
</section>
